<!DOCTYPE html>
<html>
  <head>
    <!--index rel="stylesheet"-->
    
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>fattie</h1>
    <p> I love programming </p>
  <img src= "https://cdnb.artstation.com/p/assets/images/images/011/115/195/large/janko-dragovic-berry-featured-3.jpg?1527916628">
  </body>
</html>